:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --light-text-color: #ffffff;
  --light-invercion-text: #f4f4fd;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --dark-bg-color: #2e2f42;
  --backdrop-bg: rgba(46, 47, 66, 0.4);
  --modal-bg: #fcfcfc;

  --accent-color: #4d5ae5;
  --accent-color-dark: #404bbf;
  --accent-color-socials: #31d0aa;

  --border-light-color: #e7e9fc;
  --border-slate-color: #8e8f99;

  --overlay-color: rgba(46, 47, 66, 0.7);

  --animation: 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg-color);

  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: currentColor;

  cursor: pointer;
}

main {
  flex-grow: 1;
}

textarea {
  resize: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  list-style-type: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.section-title {
  margin-bottom: 72px;

  color: var(--secondary-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.subtitle {
  margin-bottom: 8px;

  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo.logo-inversion {
  color: var(--light-invercion-text);
}

.logo-accent {
  color: var(--accent-color);
}

.button {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;

  background-color: var(--accent-color);

  color: var(--light-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  transition: background-color var(--animation);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color-dark);
}

/* header */

.page-header {
  border-bottom: 1px solid var(--border-light-color);
}

.page-header-wrap {
  display: flex;
  align-items: center;
}

.page-header-wrap .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-nav {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  font-weight: 500;
}

.site-nav {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  top: calc(100% - 3px);
  left: 0;

  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color-dark);
  border-radius: 2px;
}

.nav-link {
  transition: color var(--animation);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color-dark);
}

.nav-link.current {
  color: var(--accent-color-dark);
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 40px;
}

.contacts-link {
  transition: color var(--animation);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color-dark);
}

/* /header */

/* page-footer */

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-bg-color);
}

.footer-wrap {
  display: flex;
  column-gap: 120px;
}

.footer-promo {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 264px;
}

.footer-label {
  color: var(--light-invercion-text);
  font-weight: 400;
}

.footer-subtitle {
  margin-bottom: 16px;

  color: var(--primary-bg-color);
  font-weight: 500;
}

.page-footer .social-links {
  column-gap: 16px;
}

/* /page-footer */

/* social */
.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  color: var(--light-invercion-text);

  background-color: var(--accent-color);

  transition: background-color var(--animation);
}

.social-links a.social-link:hover,
.social-links a.social-link:focus {
  background-color: var(--accent-color-socials);
}

.social-icon {
  fill: currentColor;
}

/* /social */

/* backdrop and modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: var(--backdrop-bg);

  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 408px;
  /* min-height: 584px; */
  min-height: 90%;
  overflow-y: auto;

  background-color: var(--modal-bg);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1.25);
  transition: transform var(--animation);
}

.close-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;

  border: 1px solid var(--border-light-color);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);

  transition: border-color var(--animation), background-color var(--animation),
    fill var(--animation);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  border-color: transparent;
  background-color: var(--accent-color-dark);
  fill: var(--light-text-color);
}

/* /backdrop and modal*/
