.form-user-experience {
  background-color: var(--secondary-bg-color);
}

.overall-impression-box {
  width: 200px;
}

.overall-impression-input {
  display: inline-block;
  width: 100%;
}

.overall-impression-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.reviewer-box {
  display: flex;
  flex-direction: column;
}

.reviewer-box input::placeholder {
  color: rgb(148, 176, 176);
}
