.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 40px;

    @media screen and (max-width: 1157px) {
        flex-direction: column;
        gap: 12px;

        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
    }
}

.contacts--mobile-hidden {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.contacts__link {
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color $animation;

    &:hover,
    &:focus {
        color: getTextColor(accentDark);
    }
}