.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo--inversion {
    color: getTextColor(inversion);
}

.logo__accent-text {
    color: getTextColor(accent);
}